<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btnCC_skill1_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,291},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{96,96}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>btnCC_skill1_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,194},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{96,96}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>btnCC_skill2_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,485},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{96,96}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>btnCC_skill2_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,388},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{96,96}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>btnCC_skill3_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,97},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{96,96}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>btnCC_skill3_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,0},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{96,96}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>btnDQ_skill1_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,485},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{96,96}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>btnDQ_skill1_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,194},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{96,96}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>btnDQ_skill2_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,491},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{96,96}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>btnDQ_skill2_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,0},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{96,96}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>btnDQ_skill3_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,97},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{96,96}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>btnDQ_skill3_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,0},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{96,96}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>btnHDS_skill1_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,297},{100,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{100,96}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>btnHDS_skill1_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,200},{100,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{100,96}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>btnHDS_skill2_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,394},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{96,96}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>btnHDS_skill2_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,97},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{96,96}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>btnHDS_skill3_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,291},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{96,96}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>btnHDS_skill3_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,388},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{96,96}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>btnHD_skill1_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,491},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>btnHD_skill1_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,491},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>btnHD_skill2_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,200},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{96,96}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>btnHD_skill2_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,297},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{96,96}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>btnHD_skill3_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,394},{97,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{97,96}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>btnHD_skill3_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,394},{97,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{97,96}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>btnQT_skill1_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,97},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{96,96}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>btnQT_skill1_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,0},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{96,96}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>btnQT_skill2_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,291},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{96,96}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>btnQT_skill2_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,194},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{96,96}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>btnQT_skill3_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,485},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{96,96}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>btnQT_skill3_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,388},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{96,96}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>btn_callbird.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{107,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{107,99}}</string>
				<key>sourceSize</key>
				<string>{109,101}</string>
			</dict>

			<key>btn_callbird_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,100},{107,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{107,99}}</string>
				<key>sourceSize</key>
				<string>{109,101}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{584,589}</string>
			<key>textureFileName</key>
			<string>button_skill.png</string>
			</dict>
		</dict>
</plist>