<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>board_information.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{384,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,512}}</string>
				<key>sourceSize</key>
				<string>{384,512}</string>
			</dict>

			<key>frame_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,544},{106,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{106,30}}</string>
				<key>sourceSize</key>
				<string>{106,30}</string>
			</dict>

			<key>frame_hp.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,575},{80,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,30}}</string>
				<key>sourceSize</key>
				<string>{80,30}</string>
			</dict>

			<key>frame_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,513},{114,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,30}}</string>
				<key>sourceSize</key>
				<string>{114,30}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>info_board.png</string>
			</dict>
		</dict>
</plist>