<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>background_ending.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{865,420}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{865,420}}</string>
				<key>sourceSize</key>
				<string>{866,420}</string>
			</dict>

			<key>btn_back_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1105,1368},{216,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{216,77}}</string>
				<key>sourceSize</key>
				<string>{220,81}</string>
			</dict>

			<key>btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1158,230},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,74}}</string>
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>

			<key>btn_facebook.png</key>
			<dict>
				<key>frame</key>
				<string>{{1322,1368},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{92,92}}</string>
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>

			<key>btn_home.png</key>
			<dict>
				<key>frame</key>
				<string>{{1248,0},{184,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{184,77}}</string>
				<key>sourceSize</key>
				<string>{188,81}</string>
			</dict>

			<key>btn_next.png</key>
			<dict>
				<key>frame</key>
				<string>{{1158,152},{216,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{216,77}}</string>
				<key>sourceSize</key>
				<string>{220,81}</string>
			</dict>

			<key>btn_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1233,230},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{64,64}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>

			<key>btn_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{1248,78},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{64,64}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>

			<key>btn_restart.png</key>
			<dict>
				<key>frame</key>
				<string>{{1102,306},{216,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{216,77}}</string>
				<key>sourceSize</key>
				<string>{221,81}</string>
			</dict>

			<key>btn_resume.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,306},{235,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{235,77}}</string>
				<key>sourceSize</key>
				<string>{238,81}</string>
			</dict>

			<key>btn_revive.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,0},{381,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{381,151}}</string>
				<key>sourceSize</key>
				<string>{385,155}</string>
			</dict>

			<key>btn_video.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,152},{291,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,0},{291,153}}</string>
				<key>sourceSize</key>
				<string>{304,155}</string>
			</dict>

			<key>gameover.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,1368},{533,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{533,105}}</string>
				<key>sourceSize</key>
				<string>{537,109}</string>
			</dict>

			<key>paper.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,421},{723,381}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{723,381}}</string>
				<key>sourceSize</key>
				<string>{727,385}</string>
			</dict>

			<key>paper_pause.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,986},{681,381}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{681,381}}</string>
				<key>sourceSize</key>
				<string>{681,381}</string>
			</dict>

			<key>paper_revive - Copy.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,803},{723,564}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{723,564}}</string>
				<key>sourceSize</key>
				<string>{723,564}</string>
			</dict>

			<key>paper_revive.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,421},{723,564}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{723,564}}</string>
				<key>sourceSize</key>
				<string>{723,564}</string>
			</dict>

			<key>stage_clear.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1368},{570,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,4},{570,105}}</string>
				<key>sourceSize</key>
				<string>{574,111}</string>
			</dict>

			<key>star_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1319,325},{108,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,5},{108,89}}</string>
				<key>sourceSize</key>
				<string>{108,100}</string>
			</dict>

			<key>star_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{1319,230},{108,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,94}}</string>
				<key>sourceSize</key>
				<string>{108,100}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1448,1474}</string>
			<key>textureFileName</key>
			<string>end_game.png</string>
			</dict>
		</dict>
</plist>