<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>CoCo_point.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,103},{70,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{70,45}}</string>
				<key>sourceSize</key>
				<string>{72,48}</string>
			</dict>

			<key>HoangDung_point.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,57},{70,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{70,45}}</string>
				<key>sourceSize</key>
				<string>{72,48}</string>
			</dict>

			<key>HoangDuocSu_point.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,309},{70,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{70,45}}</string>
				<key>sourceSize</key>
				<string>{72,48}</string>
			</dict>

			<key>QuachTinh_point.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,0},{70,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{70,45}}</string>
				<key>sourceSize</key>
				<string>{72,48}</string>
			</dict>

			<key>avatar_CoCo.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,196},{130,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,124}}</string>
				<key>sourceSize</key>
				<string>{130,124}</string>
			</dict>

			<key>avatar_DuongQua.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,184},{129,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{129,124}}</string>
				<key>sourceSize</key>
				<string>{129,125}</string>
			</dict>

			<key>avatar_HoangDung.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,57},{130,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,126}}</string>
				<key>sourceSize</key>
				<string>{130,126}</string>
			</dict>

			<key>avatar_HoangDuocSu.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,184},{129,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{129,131}}</string>
				<key>sourceSize</key>
				<string>{130,131}</string>
			</dict>

			<key>avatar_QuachTinh.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,57},{130,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,138}}</string>
				<key>sourceSize</key>
				<string>{130,138}</string>
			</dict>

			<key>blood.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,361},{53,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,27}}</string>
				<key>sourceSize</key>
				<string>{53,27}</string>
			</dict>

			<key>blood_board.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{297,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,15},{297,56}}</string>
				<key>sourceSize</key>
				<string>{297,75}</string>
			</dict>

			<key>character_point.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,316},{70,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{70,44}}</string>
				<key>sourceSize</key>
				<string>{72,48}</string>
			</dict>

			<key>money_board.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,316},{70,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{70,71}}</string>
				<key>sourceSize</key>
				<string>{74,75}</string>
			</dict>

			<key>score_board.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,321},{125,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{125,63}}</string>
				<key>sourceSize</key>
				<string>{133,66}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{391,389}</string>
			<key>textureFileName</key>
			<string>info_hud.png</string>
			</dict>
		</dict>
</plist>