<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1133,588}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1133,588}}</string>
				<key>sourceSize</key>
				<string>{1133,588}</string>
			</dict>

			<key>btn_recevive.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,733},{341,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{341,119}}</string>
				<key>sourceSize</key>
				<string>{341,119}</string>
			</dict>

			<key>day_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1369,594},{232,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{232,197}}</string>
				<key>sourceSize</key>
				<string>{239,203}</string>
			</dict>

			<key>day_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1134,198},{233,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{233,197}}</string>
				<key>sourceSize</key>
				<string>{239,203}</string>
			</dict>

			<key>day_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1368,198},{232,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{232,197}}</string>
				<key>sourceSize</key>
				<string>{239,203}</string>
			</dict>

			<key>day_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1368,0},{232,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{232,197}}</string>
				<key>sourceSize</key>
				<string>{239,203}</string>
			</dict>

			<key>day_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1134,0},{233,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{233,197}}</string>
				<key>sourceSize</key>
				<string>{239,203}</string>
			</dict>

			<key>day_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1369,792},{232,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{232,197}}</string>
				<key>sourceSize</key>
				<string>{239,203}</string>
			</dict>

			<key>day_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1369,396},{232,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{232,197}}</string>
				<key>sourceSize</key>
				<string>{239,203}</string>
			</dict>

			<key>popup_confirm.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,589},{641,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,353}}</string>
				<key>sourceSize</key>
				<string>{641,353}</string>
			</dict>

			<key>recevive_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,733},{273,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{273,235}}</string>
				<key>sourceSize</key>
				<string>{280,241}</string>
			</dict>

			<key>recevived.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,853},{153,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{153,123}}</string>
				<key>sourceSize</key>
				<string>{157,125}</string>
			</dict>

			<key>titles.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,589},{726,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{726,143}}</string>
				<key>sourceSize</key>
				<string>{726,143}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>daily_reward.png</string>
			</dict>
		</dict>
</plist>