<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bottom_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1136,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,36},{1136,87}}</string>
				<key>sourceSize</key>
				<string>{1157,159}</string>
			</dict>

			<key>btn_free_coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1648,0},{116,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,14},{116,192}}</string>
				<key>sourceSize</key>
				<string>{116,206}</string>
			</dict>

			<key>btn_heroes.png</key>
			<dict>
				<key>frame</key>
				<string>{{1273,0},{133,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,7},{133,168}}</string>
				<key>sourceSize</key>
				<string>{133,206}</string>
			</dict>

			<key>btn_leaderboard.png</key>
			<dict>
				<key>frame</key>
				<string>{{1137,0},{135,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,12},{135,194}}</string>
				<key>sourceSize</key>
				<string>{135,206}</string>
			</dict>

			<key>btn_more_games.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,0},{120,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{120,193}}</string>
				<key>sourceSize</key>
				<string>{120,206}</string>
			</dict>

			<key>btn_quest.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,88},{116,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,15},{116,160}}</string>
				<key>sourceSize</key>
				<string>{116,206}</string>
			</dict>

			<key>btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,88},{149,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,19},{149,156}}</string>
				<key>sourceSize</key>
				<string>{149,206}</string>
			</dict>

			<key>btn_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{1528,0},{119,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,175}}</string>
				<key>sourceSize</key>
				<string>{119,206}</string>
			</dict>

			<key>btn_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,88},{323,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{323,152}}</string>
				<key>sourceSize</key>
				<string>{323,152}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,256}</string>
			<key>textureFileName</key>
			<string>bottom_menu.png</string>
			</dict>
		</dict>
</plist>