<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_try.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,313},{139,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,53},{139,51}}</string>
				<key>sourceSize</key>
				<string>{139,159}</string>
			</dict>

			<key>btn_unlock.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{323,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{323,152}}</string>
				<key>sourceSize</key>
				<string>{323,159}</string>
			</dict>

			<key>effect_unlock_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,153},{166,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,159}}</string>
				<key>sourceSize</key>
				<string>{166,159}</string>
			</dict>

			<key>effect_unlock_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,487},{99,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,31},{99,94}}</string>
				<key>sourceSize</key>
				<string>{166,159}</string>
			</dict>

			<key>icon_hero_cc_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,365},{114,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,20},{114,121}}</string>
				<key>sourceSize</key>
				<string>{114,159}</string>
			</dict>

			<key>icon_hero_cc_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,561},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,45},{69,69}}</string>
				<key>sourceSize</key>
				<string>{114,159}</string>
			</dict>

			<key>icon_hero_cc_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,851},{69,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,42},{69,72}}</string>
				<key>sourceSize</key>
				<string>{114,159}</string>
			</dict>

			<key>icon_hero_cc_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,884},{114,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,20},{114,121}}</string>
				<key>sourceSize</key>
				<string>{114,159}</string>
			</dict>

			<key>icon_hero_dq_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,761},{114,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,19},{114,122}}</string>
				<key>sourceSize</key>
				<string>{114,159}</string>
			</dict>

			<key>icon_hero_dq_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,631},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,46},{69,69}}</string>
				<key>sourceSize</key>
				<string>{114,159}</string>
			</dict>

			<key>icon_hero_hd_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,766},{114,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,18},{114,123}}</string>
				<key>sourceSize</key>
				<string>{114,159}</string>
			</dict>

			<key>icon_hero_hd_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,924},{69,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,45},{69,70}}</string>
				<key>sourceSize</key>
				<string>{114,159}</string>
			</dict>

			<key>icon_hero_hd_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,701},{69,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,41},{69,74}}</string>
				<key>sourceSize</key>
				<string>{114,159}</string>
			</dict>

			<key>icon_hero_hd_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,637},{114,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,18},{114,123}}</string>
				<key>sourceSize</key>
				<string>{114,159}</string>
			</dict>

			<key>icon_hero_hds_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,890},{114,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{114,128}}</string>
				<key>sourceSize</key>
				<string>{114,159}</string>
			</dict>

			<key>icon_hero_hds_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,487},{69,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,42},{69,73}}</string>
				<key>sourceSize</key>
				<string>{114,159}</string>
			</dict>

			<key>icon_hero_hds_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,776},{69,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,41},{69,74}}</string>
				<key>sourceSize</key>
				<string>{114,159}</string>
			</dict>

			<key>icon_hero_hds_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,637},{114,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,13},{114,128}}</string>
				<key>sourceSize</key>
				<string>{114,159}</string>
			</dict>

			<key>icon_hero_qt_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,365},{118,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,6},{118,135}}</string>
				<key>sourceSize</key>
				<string>{118,159}</string>
			</dict>

			<key>icon_hero_qt_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,234},{71,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,38},{71,80}}</string>
				<key>sourceSize</key>
				<string>{118,159}</string>
			</dict>

			<key>icon_hero_qt_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,153},{71,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,38},{71,80}}</string>
				<key>sourceSize</key>
				<string>{118,159}</string>
			</dict>

			<key>icon_hero_qt_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,501},{118,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,6},{118,135}}</string>
				<key>sourceSize</key>
				<string>{118,159}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>hero_menu.png</string>
			</dict>
		</dict>
</plist>