<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_add_life.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,181},{80,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{376,0},{80,64}}</string>
				<key>sourceSize</key>
				<string>{456,64}</string>
			</dict>

			<key>btn_add_money_diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,181},{80,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{220,4},{80,64}}</string>
				<key>sourceSize</key>
				<string>{300,70}</string>
			</dict>

			<key>btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,121},{120,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,91}}</string>
				<key>sourceSize</key>
				<string>{120,91}</string>
			</dict>

			<key>frame_diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,121},{266,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,5},{266,59}}</string>
				<key>sourceSize</key>
				<string>{300,70}</string>
			</dict>

			<key>frame_life.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{425,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,7},{425,49}}</string>
				<key>sourceSize</key>
				<string>{456,64}</string>
			</dict>

			<key>frame_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,50},{269,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{269,70}}</string>
				<key>sourceSize</key>
				<string>{300,70}</string>
			</dict>

			<key>icon_life.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,181},{63,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{63,58}}</string>
				<key>sourceSize</key>
				<string>{63,64}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>top_menu.png</string>
			</dict>
		</dict>
</plist>