<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>board_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1234,672}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,5},{1234,672}}</string>
				<key>sourceSize</key>
				<string>{1234,677}</string>
			</dict>

			<key>btn_close_shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1826},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,74}}</string>
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>

			<key>btn_ok.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1727},{277,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{277,98}}</string>
				<key>sourceSize</key>
				<string>{281,102}</string>
			</dict>

			<key>btn_price.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1624},{311,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{311,102}}</string>
				<key>sourceSize</key>
				<string>{315,106}</string>
			</dict>

			<key>confirm_dialog.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,673},{679,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{679,380}}</string>
				<key>sourceSize</key>
				<string>{681,381}</string>
			</dict>

			<key>energy_board1.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,1054},{308,366}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{308,366}}</string>
				<key>sourceSize</key>
				<string>{308,366}</string>
			</dict>

			<key>energy_board2.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,1624},{308,366}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{308,366}}</string>
				<key>sourceSize</key>
				<string>{308,366}</string>
			</dict>

			<key>energy_board3.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,673},{308,366}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{308,366}}</string>
				<key>sourceSize</key>
				<string>{308,366}</string>
			</dict>

			<key>energy_board4.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,1054},{308,366}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{308,366}}</string>
				<key>sourceSize</key>
				<string>{308,366}</string>
			</dict>

			<key>energy_board5.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,1421},{308,366}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{308,366}}</string>
				<key>sourceSize</key>
				<string>{308,366}</string>
			</dict>

			<key>icon_diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1901},{66,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{66,59}}</string>
				<key>sourceSize</key>
				<string>{68,61}</string>
			</dict>

			<key>tab_diamond_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1149},{332,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{332,94}}</string>
				<key>sourceSize</key>
				<string>{332,95}</string>
			</dict>

			<key>tab_diamond_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1054},{332,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{332,94}}</string>
				<key>sourceSize</key>
				<string>{332,95}</string>
			</dict>

			<key>tab_energy_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1529},{332,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{332,94}}</string>
				<key>sourceSize</key>
				<string>{332,95}</string>
			</dict>

			<key>tab_energy_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1434},{332,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{332,94}}</string>
				<key>sourceSize</key>
				<string>{332,95}</string>
			</dict>

			<key>tab_gold_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1339},{332,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{332,94}}</string>
				<key>sourceSize</key>
				<string>{332,95}</string>
			</dict>

			<key>tab_gold_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1244},{332,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{332,94}}</string>
				<key>sourceSize</key>
				<string>{332,95}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>shop_board.png</string>
			</dict>
		</dict>
</plist>